*.json
*.db
*.gbk
*.txt
__pycache__/
!WebServer/Frontend/webui/package.json
!WebServer/Backend/vendor/modules.txt
!WebServer/Frontend/webui/public/images/Danio.jpg
!WebServer/Frontend/webui/public/images/icon_algae.png
WebServer/mongodata