.modal-mask {
  position: absolute;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  /* vertical-align: middle; */
}

.modal-container {
  width: 60%;
  left: 20%;
  right: 20%;
  position: absolute;
  background-color: #fff;
  border-radius: 5%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 2%;
  align-content: center;
  left: 500%;
  color: #3d966e;
}

.modal-body {
  margin: 5% 2%;
}

/* .modal-footer{
  margin: 0 0 50%;
} */

.modal-default-button {
  float: right;
  border-radius: 10%;
  color: #fff;
  background-color: rgb(32, 32, 32);;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter-from, .modal-leave-to {
  opacity: 0;
}

.modal-enter-active .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}