body {
    background-image:none;  
    background-color:#b6dffd;
     
    width:460px;
    margin: 0 10px;
    }
    
    
    header { width:460px; }
    header > nav { width:460px; padding:15px; }
    
    hgroup h1 { font-size: 36px; }
    hgroup h2 { font-size:21px; }
    
    
    header > nav h1 { float:none; font-size:16px; color:#CCCCCC; margin-bottom:15px;  }
    
    header > nav ul { float:right; }
    header > nav li { display:inline; margin-right:10px; }
    header > nav li:last-child { margin-right:0; }
    
    header > nav li a { 
    padding:5px 10px; 
    font-size:16px; 
    font-family:'SansationRegular', Arial, Helvetica, sans-serif; 
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius: 5px;
    }
    
    
    
    
    section, aside {
    float: left;
    width: 460px;
    padding:15px;
    }
    
    body > section:first-of-type, body > section:last-of-type { width: 460px; }
    
    aside section { margin:0; width:50%; }
    aside input { width:100%;  }
    
    aside nav { float:right; }
    
    footer { 
    width:460px; 
    float:left;
    margin:20px 0; 
    padding:15px;
    height:auto;
    }
    
    footer dt { clear:left; }
    article dt { clear: none; }
    footer small { margin-top:10px;}